.btn .btn__content-a {
    display: inline-flex;
}

.btn .btn__content-b,
.btn .btn__content-c,
.btn .btn__content-d {
    display: none;
}

.btn--state-b {
    .btn__content-a,
    .btn__content-c,
    .btn__content-d {
        display: none;
    }

    .btn__content-b {
        display: block; // fallback
        display: inline-flex;
    }
}

.btn--state-c {
    .btn__content-a,
    .btn__content-b,
    .btn__content-d {
        display: none;
    }
    
    .btn__content-c {
        display: block; // fallback
        display: inline-flex;
    }
}

.btn--state-d {
    .btn__content-a,
    .btn__content-b,
    .btn__content-c {
        display: none;
    }
    
    .btn__content-d {
        display: block; // fallback
        display: inline-flex;
    }
}

.btn--error {
    background-color: var(--color-error);
    color: var(--color-white);

    &:hover {
        background-color: var(--color-error-light);
    }
}

.btn--success {
    background-color: var(--color-success);
    color: var(--color-white);

    &:hover {
        background-color: var(--color-success-light);
    }
}

.btn--state-c {
    @extend .btn--success;
}

.btn--state-d {
    @extend .btn--error
}